@charset "utf-8";
header {
  width: 100%;
  height: 100px;
  background: orange;
}
section {
  width: 2000px;
  height:1000px;
  /*background: purple;*/
  float:left; /*左側に表示*/
}
aside {
  width: 100px;
  height:1000px;
  background: yellow;
  float:left;/*左側に表示*/
}

footer {
  width: 100%;
  height: 50px;
  background: blue;
  clear: left;  /*floatingを解除する*/
}
