<!--4章 Leaflet 選択した座標の情報をデータベースに登録する-->
<!DOCTYPE html>
<html>
<!--Djangoー-->
{% load staticfiles %} 
{% load leaflet_tags %}
{% load static %}
<head lang="ja">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/chap_4_5_style.css' %}">
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
    .leaflet-container { height: 95%; width:100% ;overflow: hidden; }
    </style>
    <script src= "{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!--CSRF対策用JavaScriptー-->
    <script src= "{% static 'js/csrf_token_ajax.js' %}"></script>
    <script type="text/javascript">
    var map; /*地図*/
    var LeafIcon = L.Icon.extend({
      options: {
          iconSize:     [30, 30], /*アイコンサイズ*/
          iconAnchor:   [15, 30], /*アイコン位置(地図座標とのずれ)*/
          popupAnchor:  [0, -46]  /*ポップアップ位置*/
      }
    });
    var train_icon = new LeafIcon({iconUrl: "{% static 'images/train_icon.png' %}"})
    var last_clicked_lat; /*最後にクリックした緯度*/
    var last_clicked_lon; /*最後にクリックした緯度*/
      /*地図の初期化時に実行される処理*/
      window.addEventListener("map:init", function (event) {
        map = event.detail.map; /*地図の初期化*/
        var mpoint = [35.681236, 139.767125];	    //東京駅
        var zoom_level = 14;	/*ズームレベル 15付近がよく使われる*/
        var zoom_max = 18;	/*最大ズームレベル*/
        var zoom_min = 10;	/*最小ズームレベル*/
        map.setView(mpoint, zoom_level);  /*初期表示の中心・ズームレベルの設定*/
        map.setMinZoom(zoom_min);	/*ズームレベル最小値の反映*/
        map.setMaxZoom(zoom_max);	/*ズームレベル最大値の反映*/
        //マップクリック時に実行される関数を登録
        map.on('click', onMapClick);
      });
      /*地図がクリックされた場合に呼び出される処理*/
      function onMapClick(e) {
        var clicked_lat = e.latlng.lat;  //クリックされた座標の緯度取得
        var clicked_lon = e.latlng.lng;  //クリックされた座標の経度取得
        //経緯度表示
        var mk = L.marker(e.latlng,{icon:train_icon}).on('click', onMarkerClick).addTo(map);

        //HTMLに値をセット
        document.getElementById('lat_clicked').innerHTML = '緯度: ' + clicked_lat ;
        document.getElementById('lon_clicked').innerHTML = '経度: ' + clicked_lon ;
        last_clicked_lat = clicked_lat; /*最後にクリックした緯度(DB登録用)*/
        last_clicked_lon = clicked_lon; /*最後にクリックした緯度(DB登録用)*/

      }
      /*クリックで追加されたマーカーが再度クリックされた場合に呼び出される処理*/
      function onMarkerClick(e) {
        //マーカーのclickイベント呼び出される
        //クリックされたマーカーを地図のレイヤから削除する
        map.removeLayer(e.target);
      }
      /*Submitボタンが押されたときの処理*/
      function OnButtonClick() {
        /*セレクトボックスで選択中の要素名を取得*/
        var test_text = document.getElementById("id_station_label").value;
        /*Djangoに駅名を渡し、緯度経度の座標をリクエスト*/
        $.ajax('/testapp/db_get_request/', {
          type: 'GET',
          dataType: 'json',
          accepts: { text: "text/plain", json: "application/json" },
          data: {
            clicked_station_name: test_text,
          },
        })
        .then(
          function done(data) { //受信成功
            //HTMLに値をセット
            document.getElementById('label_DB').innerHTML = '駅名: ' + test_text;
            document.getElementById('lat_DB').innerHTML = '緯度: ' + data["lat"];
            document.getElementById('lon_DB').innerHTML = '経度: ' + data["lon"] ;

            //Leafletにマーカーをセット
            var pt1 = [data["lat"], data["lon"]];
            var maker_1 = L.marker(pt1,{title:test_text,icon:train_icon})
            maker_1.addTo(map)
          },
          function fail(data, status) {//受信失敗
            //alert('Request failed'+data+status);  (デバッグ用)
          }
        );
      }
      /*Submitボタンが押されたときの処理*/
      function OnButtonClick_UpdateDB() {
        /*セレクトボックスで選択中の要素名を取得*/
        var req_text = document.getElementsByName("db_req_name")[0].value;
        /*Djangoに駅名を渡し、緯度経度の座標をリクエスト*/
        $.ajax('/testapp/db_get_request/', {
          type: 'POST',
          dataType: 'json',
          accepts: { text: "text/plain", json: "application/json" },
          data: {
            name_req: req_text,
            clicked_lat_req: last_clicked_lat,
            clicked_lon_req: last_clicked_lon,
          },
        })
        .then(
          function done(data) { //受信成功
            alert('DBが更新できました');
          },
          function fail(data, status) {//受信失敗
            //alert('Request failed__'+status);  (デバッグ用)
          }
        );
      }
    </script>
</head>
<body>
<header>
<h1>地図案内Webアプリ</h1>
</header>
<section>
{% leaflet_map "main" %}
</section>
<aside>
<br>
<form>
<label>新規登録名称：<input type="text" size="20" name="db_req_name"></label>
<input type="button" value="DB更新" onclick="OnButtonClick_UpdateDB();">
</form>
<p>ここにクリックした座標に関する情報を表示します</p>
<div id="lat_clicked"></div>
<div id="lon_clicked"></div>
<br>
<label>DB登録済みリスト：
{{choicefield_form.station_label}}
<input type="button" value="DB取得" onclick="OnButtonClick();"><br></label>
<p>ここにデータベースから取得した座標に関する情報を表示します</p>
<div id="label_DB"></div>
<div id="lat_DB"></div>
<div id="lon_DB"></div>
</aside>
<footer>
<p>&copy; 2020.bamboo</p>
</footer>
</body>
</html>