<!--4章 Leaflet地図の設定-->
<!DOCTYPE html>
<!--Djangoー-->
{% load staticfiles %} 
{% load leaflet_tags %}
{% load static %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
    .leaflet-container { height: 800px; } /*Webページで表示される地図の大きさ*/

    </style>
    <script type="text/javascript">
    var map; /*地図*/
    window.addEventListener("map:init", function (event) {
      map = event.detail.map; /*地図の初期化*/
      var mpoint = [34.7024, 135.4959];	//初期表示地点(大阪駅)
      var zoom_level = 14;	/*ズームレベル 15付近がよく使われる*/
      var zoom_max = 18;	/*最大ズームレベル*/
      var zoom_min = 10;	/*最小ズームレベル*/
      map.setView(mpoint, 17);  /*初期表示の中心・ズームレベルの設定*/
      map.setMinZoom(zoom_min);	/*ズームレベル最小値の反映*/
      map.setMaxZoom(zoom_max);	/*ズームレベル最大値の反映*/

    });
    </script>
  </head>
  <body>
    {% leaflet_map "main" %}
  </body>
</html>